---

---

<footer class="flex justify-between p-8 bg-background-dark text-heliner-orange">
  <h1 class="font-medium">Heliner 2024</h1>

  <ul class="flex gap-3">
    <li>
      <a href="/">T&C's</a>
    </li>
    <li>
      <a href="/">Other Links</a>
    </li>
  </ul>
</footer>
