---
import type { HTMLAttributes } from "astro/types";

import "../styles/global.css";

type Props = HTMLAttributes<"html"> & {
  title?: string;
  description?: string;
};

const {
  title = "Heliner",
  description = "Precision CNC solutions, customised for you, supported locally. Whether your project is small or large scale, from prototypes to production runs, we're here to help!",
  ...html
} = Astro.props;
---

<!doctype html>
<html lang="en" {...html}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>

  <body>
    <slot name="body" />
  </body>
</html>
